*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    background-color: #000;
    color: white;
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar{
    display: none;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

#nav img{
    height: 10vh;
    width: 20vw;
}

#nav h1{
    cursor: pointer;
}

#part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
    margin-right: 16vw;
}

#part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
}

#part2 button{
    padding: 1vw;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 1vw;
    font-weight: 800;
    margin-right: 3vw;
    background-color: #000;
    color: white;
}

#hr{
    background-color: white;
    width: 92%;
    height: 0.3%;
    margin-left: 4vw;
}
#main1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6vh;
}

#left{
    font-size: 2.6vw;
    margin-left: 4vw;
}

#hr1{
    margin-top: 10vh;
}

#left h1 img{
    height: 8vh;
    width: 4vw;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -1vw;
    border: 3px solid black;
}

#left h1 :nth-child(3){
    margin-left: -1vw;
}

#left :nth-child(3){
    margin-left: 1vw;
}

#right img{
    height:60vh ;
    width:45vw;
    object-fit:cover;
    margin-top: 13vh;
    margin-right: 5vw;
    border-radius: 20px;
}

#link{
    font-size: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
}

#middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40vh;
    margin-bottom: 40vh;
}

#left1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 30px;
}

#box img{
    height: 10vh;
    width: 10vw;
}


#left1 button{
    border: 1px solid white;
    border-radius: 40px;
    cursor: pointer;
    padding: 1vw;
    color: white;
    background-color: #000;
    font-size: 1.5vw;
    margin-left: 3vw;
}

#right1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}

#right1 #box {
    background-color: rgb(252, 252, 252);
    color: black;
    height: 35vh;
    width: 22vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.5vw;
}

#right1 #box:nth-child(3){
    margin-right: 3vw;
}

#footer{
    padding: 4vw;
    gap: 3vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#footer h1{
    cursor: pointer;
}

#loader{
    height: 100vh;
    width: 100vw;
    background-color: #474343;
    color: white;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    font-weight: 999;
    font-family: monument;
}

#page1{
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

#page1 h1{
    margin-left: 2vw;
    font-size: 40vw;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    font-stretch: 250%;
    font-weight: 999;
}

